<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>update</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <p>名字啦</p><input type="text" name="up_name">
    <p>年龄啦</p><input type="text" name="up_age">
    <p></p><input type="submit" value="提交">
</form>
</body>
</html>